<!-- upload.html -->
{% extends 'base.html' %}
{% block content %}


<div>

    <div class="card">
    <div class="card-content">
        <span class="card-title">使い方</span>
        <p>サイトのURLを貼って検索を押すと、似ている内容のQiitaの記事が検索されます。</p>
    </div>
    </div>
    <form action="{% url 'doc:make_pdf' %}" method='post'>
        {% csrf_token %}
        <p>サイトURL</p>
        <input name="pdf" value="{{ request.GET.query }}" type="text">
        <button type="submit">webページをpdfに変換する</button>
    </form>
</div>
{{ test }}



{% endblock %}